
{{#each eatenList}}
<ul class="list-group list-group-flush">
  <li class="list-group-item">{{this.name}}</li>
  <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, officia natus voluptatibus, repellat optio recusandae quia adipisci atque possimus voluptas distinctio quod dolorum officiis laboriosam ipsa rem hic odit qui.</li>
  <li class="list-group-item">{{eatenList.category}}</li>
</ul>
{{/each}}