header {
  overflow: hidden;
}

.carousel-fade{
  height: 520px;
}

.carousel-inner {
  z-index: -1;
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #9AC8D5;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.cardField{
  position: relative;
}

.cardField:hover{
  -webkit-box-shadow: -8px 11px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 11px 22px 5px rgba(0,0,0,0.75);
  box-shadow: -8px 11px 22px 5px rgba(0,0,0,0.75);
}
.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.checked{
  color:orange;
}

.liked{
  color: red;
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
